* {
  margin: 0;
}
.app {
  max-width: 500px;
  min-width: 400px;
  margin: 10px auto;
}

.header {
  padding: 10px;
  background-color: lightseagreen;
  min-height: 50px;
  text-align: center;
  border-radius: 10px;
}

.main {
  margin: 5px auto;
  padding: 10px;
  background-color: lightsteelblue;
  height: 200px;
  text-align: center;
  border-radius: 10px;
}

.currency-box {
  margin: 10px auto;
  width: 80%;
  text-align: center;
}
input {
  max-width: 100px;
  margin: 5px;
}

@media (max-width: 550px) {
  .app {
    min-width: 95%;
    margin: 5px auto;
    padding: 5px;
  }
}

@media (max-width: 280px) {
  .main {
    height: 250px;
  }
}
